/*Importando Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*para mudar o tema*/
:root {
  --preto: #1E201E;
  --preto-diferente: #3C3D37;
  --laranja-forte: #FF5733; /*contraste com o azul*/
  --azul-legal: #1cabcf;
  --branco: whitesmoke;
  --rosa-claro: #ECDFCC;
}

@media (prefers-color-scheme: light) {
  :root {
    --preto: #e5f0e5;
    --preto-diferente: #dde0ca;
    --laranja-forte: #252020;
    --azul-legal: #2116b8;
    --branco: rgb(0, 0, 0);
    --rosa-claro: #cec7bd;
  }
  
  html {
    color-scheme: light;
  }
}

[modo-light-dark="dark"] {
  color-scheme: dark;
  --preto: #1E201E;
  --preto-diferente: #3C3D37;
  --laranja-forte: #FF5733;
  --azul-legal: #1cabcf;
  --branco: whitesmoke;
  --rosa-claro: #ECDFCC;  
}

[modo-light-dark="light"] {
  color-scheme: light;
  --preto: #e5f0e5;
  --preto-diferente: #dde0ca;
  --laranja-forte: #252020;
  --azul-legal: #2116b8;
  --branco: rgb(0, 0, 0);
  --rosa-claro: #cec7bd;
}

/*Partes Principais*/
body {
  font-family: Georgia;
  margin: 0;
  padding: 0;
  font-size:medium;
  word-spacing: 5px;
  display: flex;
  flex-direction: column;
  min-height: 100px;
  text-align: center;
}

header {
  color: whitesmoke;
  background-color: var(--preto);
  font-weight: bold;
  text-align: center;
  height: 130px;
}

header > h1, p {
  padding-top: 20px;
}

aside { /*Barra Lateral de Navegação*/
  color: var(--branco); 
  background-color: var(--preto);
  width: 159px;
  padding: 20px; 
  height: auto;
  overflow-y: auto;
}

main {
  color: var(--branco);
  background-color: var(--preto-diferente);
  font-weight: bold;
  flex: 1;
  margin-top: 0;
  padding: 20px;
}

footer {
  background-color: var(--rosa-claro);
  color: #1E201E;
  font-weight: bolder;
  text-align: center;
  height: 115px;
  margin-top: 0;
  padding: 0;
  padding-top: 18px;
}

/*Tags*/
h1, p {
  margin: 0px;
}

h1 {  /*Título Principal*/
  font-size: 36px;
  font-weight: bold;
  color: var(--azul-legal); 
  text-align: center;
  letter-spacing: 3px;
}

h2 {
  font-style: italic;
}

p {
  font-size: large;
  margin: 0; 
  line-height: 1.6;
  color: var(--branco);
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 10px 0;
  font-size: larger;
}

ul li a {
  color: var(--laranja-forte); 
  text-decoration: none;
  font-weight: bold;
}

ul li a:hover {
  text-decoration: underline;
  transition: 0.4s ease;
  color: var(--azul-legal);
}


nav ul {  
  padding-top: 5em;
  font-size: large;
}

/*IDs e Classes(respectivamente)*/
#conteudo {
  display: flex;
  height: auto; 
  min-height: 500px;
  flex: 1;
}

#referencias_bibliograficas {
  padding-top: 20em;
  font-size: large;
}

#links_importantes {
  font-weight: bold;
  padding-top: 20em;
  font-size: large;
}

.imagem {
  width: 350px;
  height: auto;
  border-radius: 5px;
}

/*Endireitar a imagem e o texto se o 'float' for para direita*/
.conteudo_imagemDireita {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 15px;
}

.conteudo_imagemDireita p {
  margin: 0; 
  line-height: 1.6;
}

.imagem_direita {
  width: 300px;
  height: auto;
  margin: 0;
  border-radius: 5px;
}

.conteudo_imagemDireita img {
  width: 300px;
  height: auto;
  border-radius: 5px;
  margin-top: -10px;
}

.titulo_imagemDireita {
  text-align: center;
  margin: 0 auto 20px auto;
  font-weight: bold;
  font-size: 1.5em;
  display: block;
  padding-right: 400px;
}